//
// testi.scss
//
.client-review {
    .review-para {
        font-size: 16px;
    }
    .big-icon {
        position: absolute;
        font-size: 160px;
        bottom: 0;
        right: 0;
        opacity: 0.04;
        z-index: -1;
    }
}
.owl-carousel {
    cursor: pointer;
}
.owl-theme {
    .owl-controls {
        .owl-page {
            span {
                border-radius: 30px;
                background: transparent;
                border: 2px solid $custom;
            }
        }
        .owl-page.active span, 
        &.clickable .owl-page:hover span {
            background: $custom;
        }
    }
}